<%= render 'navbar' %>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1561926797-fa9e23386fe6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1951&q=80);">
  <h2>All Art Pieces</h2>
 </div>


<div class="container art-piece-grid">
  <% @art_pieces.each do |art_piece| %>
    <div class="card-art-piece">
      <img src="https://images.unsplash.com/photo-1581783342308-f792dbdd27c5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1834&q=80" />
      <div class="card-art-piece-infos">
        <div>
          <h2><%= art_piece.title %></h2>
          <p>Name of artist here.</p>
        </div>
        <h2 class="card-art-piece-pricing"><%= "#{art_piece.price} € | mth" %></h2>
      </div>
    </div>
  <% end %>
</div>

<%= render 'footer' %>
