
.col-centered {
  float: none;
  margin-right: auto;
  margin-left: auto;
}

.details {

}

.avatar {
  justify-content: flex-end;
}

.col-sm-12.col-lg-8.border {
  margin-top: 24px;
  max-width: 600px;
  border-radius: 2px;
}

.row {
  justify-content: center;
}

.a {
  color: black;
}

