.col-centered {
  float: none;
  margin-right: auto;
  margin-left: auto;
}


.details{
  position: relative;
  margin-bottom: 10px;
  max-width: 600px;
  border-radius: 2px;
  border: lightgrey;
  p {
    width: 500px;
  }
}

.row {
  justify-content: center;
}

.avatar {
  position: absolute;
  right: 60px;
  top: 20px;
  border-radius: 50%;
  p {
    width: 100px;
  }
}

img.avatar-square {
  border-radius: 50%;
  border: lightgrey;
}

.avatar-title {
  position: absolute;
  top: 80px;
  right: 80px;
}


.carousel-container {
  margin-top: 92px;
  margin-bottom: 36px;
}

.booking-flex {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 36px;
}
