 <div class="footer navbar">
    <div class="footer-links">
      <a href="https://github.com/Puresturheit/artspace"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
    <div class="footer-copyright">
      This page is made with <i class="fas fa-heart"></i> by Pia, Marike, Lorenz and Greg at Le Wagon
    </div>
  </div>