<%= render 'navbar-2' %>

  <div class="banner-index" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1555420087-62ca236e0256?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2153&q=80);">
      <h2 style="font-size:35px">That's your profile page,
      <br>
      <%= @user.first_name.capitalize%> <%= @user.last_name.capitalize  %></h2>
  </div>

<%= render 'footer' %>
