.card-art-piece {
	overflow: hidden;
  background: white;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
	position: relative;

	a{
		color: black !important;
		text-decoration: none !important;
	}
	h2 {
		font-size: 12px;
		font-weight: bold;
		margin: 0;
	}
	p {
		font-size: 12px;
		opacity: .7;
		margin: 0;
	}
	.card-art-piece-infos {
		padding: 16px;
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		position: relative;
    }
    &:hover {
        opacity: 0.8;
		transition: 0.3s;	
    }
}

.card-link {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
    left: 0;
}

.img-index {
	height: 150px;
	width: 100%;
	object-fit: cover;
}

.img-show {
  height: 800px;
  width: 100%;
  object-fit: cover;
}

.fa-trash {
  height: 10px;
  width: 10px;
  color: #252525;
  font-size: 15px;
}

.fa-edit {
  height: 10px;
  width: 10px;
  color: #252525;
  font-size: 15px;
}













