#background {
    background-color: #F4F4F4;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-position: center;
  }
  #form-wrapper {
    font-family: $banner-font;
    font-weight: 200px;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    padding: 135px;
  }

  #form2 {
    font-family: $banner-font;
    width: 100%;
    display: inline-block;
    min-width: 200px;
    margin-left: 5em;
  }
  .login-title{
      margin-bottom: 1em;
  }

  .center-field {
    text-align: center
  }

  #form-font {
    font-family: $banner-font;
    font-weight: 200px;
  }

